# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [40]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [41]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
display(data)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем
21522,1,2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью
21523,3,3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем
21524,2,1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [44]:
children_status_table = data.pivot_table(index='children', columns='debt', values='purpose', aggfunc=('count'))
children_status_table['raiting'] = (children_status_table[1]/children_status_table[0])*100
children_status_table.columns =['нет долга','есть долг','доля должников'] 
children_status_table

          нет долга  есть долг  доля должников
children
0           13028.0     1063.0        8.159349
1            4364.0      444.0       10.174152
2            1858.0      194.0       10.441335
3             303.0       27.0        8.910891
4              37.0        4.0       10.810811
5               9.0        NaN             NaN

**Вывод:** Рассмотрим крупные группы заемщиков (0 детей, 1 ребенок, 2 ребенка). <font color='blue'>Для группы, где "количество детей 5" не достаточно данных для анализа.</font>
Для группы, где количество детей 5 не достаточно данных для анализа.
В группах, где 1 и 2 ребенка доля должников составляет 10,17% и 10,44% соответственно. В группе заемщиков, где нет детей доля должников 8,1%. Можно сделать вывод, что люди без детей возвращают кредит в срок чаще на примерно на 2,5%

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [43]:
family_status_table = data.pivot_table(index='family_status', columns='debt', values='purpose', aggfunc=('count'))
family_status_table['raiting'] = family_status_table[1]/(family_status_table[0])*100
family_status_table
#family_status_table.columns =['нет долга','есть долг','доля должников'] 
#family_status_table  # Ваш код будет здесь. Вы можете создавать новые ячейки.

debt                       0    1    raiting
family_status
Не женат / не замужем   2523  273  10.820452
в разводе               1105   84   7.601810
вдовец / вдова           888   63   7.094595
гражданский брак        3749  385  10.269405
женат / замужем        11334  927   8.178931

**Вывод:** Не женатые люди и люди в граждансокм браке имеют долги примерно в 10%. Реже всего должниками являются вдовы/вдовцы. Доля неженатые/в гражданском браке больше, чем доля должников женатых/замужем. Однако количественно должников, находящихся в браке больше.
Заемщики в гражданском браке и неженатые на 2,2% чаще являются должниками, чем люди в браке

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [50]:
income_status_table = data.pivot_table(index='total_income_category', columns='debt', values='purpose', aggfunc=('count'))
income_status_table['raiting'] = (income_status_table[1]/income_status_table[0])*100
income_status_table.columns =['нет долга','есть долг','доля должников'] 
income_status_table

                       нет долга  есть долг  доля должников
total_income_category
A                             23          2        8.695652
B                           4660        354        7.596567
C                          14568       1353        9.287479
D                            328         21        6.402439
E                             20          2       10.000000

**Вывод:** 
Таблица категоризации доходов
0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.

В группе Е (доход от 0 до 30000) доля должников 10%. Самая низкая доля должников в группе D - 6,4%. Группы A,B,C - примерно на одном уровне (от 7,6% до 9,2%). 
В количествееном соотношении меньше всего должников в группе Е и А. Больше всего должников в группе С.<font color='blue'> В группе "Е" данных для полноценного анализа недостаточно.</font>


Для определения зависимости между уровнем дохода и сроком возврата кредита обратим внимание на группы В и С (они самые крупные). В группе В доля должников 7,6%, в группе С доля составляет 9,28%. С точки зрения банковской сферы разница в 1,68% может быть миллионы рублей, что делает ее существенной. 
Люди с доходом от 200001 до 1000000 возвращают кредит в срок чаще на 1,7%, чем люди с доходом от 50001 до 200000.
Следовательно, зависимость дохода и наличия задолженности есть -- чем больше доход, тем ниже доля должников.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [49]:
purpose_status_table = data.pivot_table(index='purpose_category', columns='debt', values='purpose', aggfunc=('count'))
purpose_status_table['raiting'] = (purpose_status_table[1]/purpose_status_table[0])*100
purpose_status_table.columns =['нет долга','есть долг','доля должников'] 
purpose_status_table

                          нет долга  есть долг  доля должников
purpose_category
операции с автомобилем         3879        400       10.311936
операции с недвижимостью       9971        780        7.822686
получение образования          3619        369       10.196187
проведение свадьбы             2130        183        8.591549

**Вывод:** В категориях операции с автомобилем и получение образования доля должников составляет 10%. В категориях операции с недвижимостью 7,8%, проведение свадьбы - 8,6%.

Люди,которые берут кредит с целью "операции с недвижимостью", возвращают кредит в срок на 2,45%, чем заемщики из группы "операции с автомобилем" и "получение образования". И на 0,77%  чаще, чем заемщики из группы "проведение свадьбы"

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 

1. Технические.
технические неполадки со стороны формы сбора данных (например, в анкете на кредит не сохраняется количество детей);
технические неполадки со стороны баз, где хранятся данные; 
технеполадки при выгрузке данных.
2. Человечский фактор.
клиент не заполнил данные о себе;
ошибка при заполнении анкет со стороны сотрудника банка
3. Другие факторы.
клиент не работал официально(поэтому в столбце days_employed пропуск);
клиент получал доход неофициально (столбец total_income может содержать пропуск);
сокрытие информации

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Заполнять пропуски в количественных переменных лучше медианными значениями, так как это поможет сохранить параметры распределения заполняемой переменной.

<font color='blue'>В данных могут быть значения, которые очень выделяются из общей закономерности. Например, зарплата 6 сотрудников в отделе распределяется следующим образом: сотрудник 1 - 50 000, сотрудник 2 - 95 000, сотрудник 3 -97 000, сотрудник 4 - 100 000, сотрудник 5 110 000, сотрудник 6 - 350 000. Если использовать среднее, получится, что средняя зарплата сотрудников в отделе 133 666. Но это не так, как 5 сотрудников из 6 получают зарплату меньше 133 666. Если использовать медиану, распределение зарплаты будет таким, что половина сотрудников получат зп до 98 500, а половина выше 98 500. Среднее может исказить итоговый результат. Медианное заполнение характеризуется меньшей вариацией результатов, т.к. игнорирует выделяющиеся значения.</font>

### Шаг 4: общий вывод.

Во время работы с данными была проведена подготовка данных: удалены пропуски и обработаны аномальные значения. Данные были разделены на категории, что упростило дальнейшее исследование.
Во время исследования данных я сделала следующие выводы:
- количество детей и возврат кредита в срок взаимосвязаны. Люди, у которых 0 детей возвращают кредит в срок чаще примерно на 2,5%, чем люди, у которых 1 и 2 ребенка. <font color='blue'> Для анализа были взяты крупные группы заемщиков. В группе заемщиков, где количество детей 5 не достаточно данных для анализа</font>

- заемщики в гражданском браке и неженатые на 2,2% чаще являются должниками, чем люди в браке.
- меньше всего должников 7% среди вдовцов и вдов.
- люди с доходом от 200001 до 1000000 возвращают кредит в срок чаще на 1,7%, чем люди с доходом от 50001 до 200000.
<font color='blue'>- в группе "Е" данных для анализа недостаточно, однако доля должников составляет 10%, что может говорить о возможных рисках</font>

- люди,которые берут кредит с целью "операции с недвижимостью", возвращают кредит в срок на 2,45%, чем заемщики из группы "операции с автомобилем" и "получение образования". И на 0,77%  чаще, чем заемщики из группы "проведение свадьбы"